In [8]:
from bs4 import BeautifulSoup
from selenium import webdriver
import requests
import os

In [65]:
url=("https://www.amazon.in/s?k=mouses&i=computers&rh=n%3A976392031%2Cp_36%3A-50000&dc&qid=1601134377&rnid=1318502031&ref=sr_nr_p_36_1")

response = requests.get(url)

In [89]:
Models=[]
Prices=[]
soup=BeautifulSoup(response.text,'html.parser')
#for a in soup.find_all('a',href=True, attrs={"class":"a-link-normal a-text-normal"}):
for a in soup.find_all('div', attrs={"class":"a-section a-spacing-none"}):
    model=a.find('span',{"class":"a-size-medium a-color-base a-text-normal"})
    price=a.find_all('span',{"class":"a-price"})
    Models.append(model.text)
    Prices.append(price.text)

In [90]:
print(Models)

[]

In [35]:
import pandas as pd
df = pd.DataFrame({'Model Name':Models,'Price':Prices})

In [36]:
df

Empty DataFrame
Columns: [Model Name, Price]
Index: []